<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simalee.guangxiu">

    <application
        android:name=".app.GuangXiuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.main.IntroductionActivity"/>

        <activity android:name=".view.technique.TechniqueActivity"/>
        <activity android:name=".view.technique.ArtFeatureActivity"/>
        <activity android:name=".view.technique.MaterialActivity"/>
        <activity android:name=".view.technique.PergolaIntroductionActivity"/>
        <activity android:name=".view.technique.StitchIntroductionActivity"/>
        <activity android:name=".view.technique.ThreadListActivity"/>
        <activity android:name=".view.technique.ThreadIntroductionActivity"/>
        <activity android:name=".view.technique.StitchInfoActivity"/>
        <activity android:name=".view.technique.StitchInfoDetailActivity"/>

    </application>

</manifest>