<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simalee.guangxiu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.GuangXiuApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".view.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".view.main.MainActivity">
        </activity>

        <activity android:name=".view.main.IntroductionActivity"/>
        <activity android:name=".view.history.HistoryIntroductionActivity"/>
        <activity android:name=".view.history.OriginActivity"/>
        <activity android:name=".view.history.DevelopmentActivity"/>
        <activity android:name=".view.history.FutureDevelopmentActivity"/>
        <activity android:name=".view.history.CulturalMeaningActivity"/>
        <activity android:name=".view.teaching.TeachingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.cartoon.GalleryActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/OptionsActivity"/>
        <activity android:name=".view.cartoon.EmbroideryContentActivity"
            android:theme="@style/OptionsActivity"/>
        <activity android:name=".view.history.DevelopmentItemActivity"/>



        <activity android:name=".view.technique.TechniqueActivity"/>
        <activity android:name=".view.technique.ArtFeatureActivity"/>
        <activity android:name=".view.technique.MaterialActivity"/>
        <activity android:name=".view.technique.PergolaIntroductionActivity"/>
        <activity android:name=".view.technique.StitchIntroductionActivity"/>
        <activity android:name=".view.technique.ThreadListActivity"/>
        <activity android:name=".view.technique.ThreadIntroductionActivity"/>
        <activity android:name=".view.technique.StitchInfoActivity"/>
        <activity android:name=".view.technique.StitchInfoDetailActivity"/>
        <activity android:name=".view.technique.EmbroideryActivity"/>
        <activity android:name=".view.technique.EmbroideryIntroductionActivity"/>

        <activity android:name=".view.artist.ArtistListActivity"
            android:theme="@style/OptionsActivity"/>
        <activity android:name=".view.artist.ArtistInfoActivity"
            android:theme="@style/OptionsActivity"/>

        <activity android:name=".view.quiz.QuizActivity"/>

        <activity android:name=".view.main.NewMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.history.NewHistoryActivity"/>

        <activity android:name=".view.technique.NewTechniqueActivity"/>

        <activity android:name=".view.technique.ProcessActivity"/>

    </application>

</manifest>